<template>
  <div class="columns">
    <div class="column is-center">
      <div class="content">
        <b-field label="Boleta">
          <b-input placeholder="20XXXXXXXX" v-model="boleta"></b-input>
        </b-field>
        <b-field label="Escuela">
          <b-select placeholder="Selecciona una escuela" expanded v-model="escuela">
            <option
              v-for="(escuela,indice) in this.schools"
              :key="indice"
              v-bind:value="indice"
            >{{escuela.Nombre}}</option>
          </b-select>
        </b-field>
        <button class="button is-info is-fullwidth" @click="descargar">Descargar</button>
      </div>
    </div>
  </div>
</template>

<script>
import escuelas from "../assets/escuelas";
var rp = require("request-promise");
import { save } from "save-file";

export default {
  name: "Formulario",
  data() {
    return {
      boleta: "",
      escuela: "",
      schools: escuelas
    };
  },
  methods: {
    descargar() {
      if (this.escuela !== "" && this.boleta != "") {
        peticion("POST", "https://horarios-ipn.herokuapp.com/Horario", {
          boleta: this.boleta,
          escuela: this.escuela
        });
      }
    }
  }
  /*props: {
    msg: String
  }
  */
};
function peticion(metodo, url, data) {
  var options = {
    method: metodo,
    uri: url,
    body: data,
    json: true
  };
  rp(options)
    .then(function(body) {
      if (body.status === 404) {
        alert("Boleta no encontrada");
      } else {
        alert("Descarga");
        save(body.pdf, "doc.pdf");
      }
    })
    .catch(function(err) {});
}
</script>

<style scoped>
</style>
