<template>
  <div id="app" class="section">
    <div class="box">
      <figure class="image container is-128x128">
        <img alt="Logo" src="./assets/logo.png">
      </figure>
      <Formulario/>
    </div>
  </div>
</template>

<script>
import Formulario from "./components/Formulario";

export default {
  name: "app",
  components: {
    Formulario
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
